fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core>=0.3.0
langchain-community
langchain-google-genai
langchain-groq>=0.3.0
google-generativeai
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers

confluent-kafka
pydantic-settings

pymupdf
pymupdf4llm
python-dotenv
requests