fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers

confluent-kafka
pydantic-settings

pymupdf
pymupdf4llm
python-dotenv
requests