fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core
langchain-community
langchain-google-genai

chromadb
sentence-transformers

confluent-kafka
pydantic-settings

pymupdf
python-dotenv
requests